* {
    margin: 0px;
    padding: 0px;
}
body{
     background-image: url("../Images/background.jpg") ; 
}
a {
    float: left;
}
ul  {
    text-decoration: solid ;
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    right:0px;
    color: white;
    top: 15px;
    right: 50px;
     
}

li {
    display: inline;
    margin: 9px 35px ;
    padding: 9px 33px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    margin: -2px;
    font-size: 12px;
    
}

li > a{
    background: rgba(0,0,0,0.3);
}

form {
    display:inline;
}
header div {
    background: #282c35;
    height:47px;
    border-bottom: solid 1px gray;
}

.container{
    margin:40px 2.5%;
    /* border: 2px solid #666; */
    
}


.container .titleRate h3{
    color:#bbb;
    text-transform: capitalize;
    margin: 7px 5%;
    font-weight: bold;
    font-size: 20px;
    word-spacing:-2px;
    letter-spacing:0px;
    text-shadow:1px 1px 2px #000, 0px 0px 25px #000, 0px 0px 5px #a9a9a9;
}

.container .cards{
    overflow: hidden;
    
}

.container .cards .card{
    float:left;
    width:15%;
    height: 250px;
    margin: 15px .66%;
    border: 2px solid #888;
    position: relative;
    cursor:pointer;
    transition: all 1s ease;
    
    
}

.container .cards .card .front{

    transition: all .5s ease;
    backface-visibility:hidden;
    transform: perspective(1000px) rotateY(0deg);

}


.container .cards .card .front > img{  
    width: 100%;
    height: 100%;
}

.container .cards .card .front span:first-of-type{
    position: absolute;
    top:0;
    right:0;
    color: white;
    padding:  5px;
    margin:4px;
    border: 1px solid #666;

}

.container .cards .card figure{
    position: absolute;
    height: 100%;
    width : 100%;
    left:0;
    top:0;
    
}

.container .cards .card .back{
    background-color: #888;
    backface-visibility:hidden;
    transition:  all .5s ease;
    transform: perspective(1000px) rotateY(180deg);

}


.container .cards .card:hover > .front{
    transform: perspective(1000px) rotateY(-180deg);
    transition: all 1s ease;
}  



.container .cards .card:hover > .back{
    transform: perspective(1000px) rotateY(0deg);
    transition: all 1s ease;
    
    
}  

